html
{
    height: 100%;
    font-size: 16px;
}

body
{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
    font-size: 16px;
}

#textHome
{
    width: 80%;
    margin: auto;
    background-color: white;
}

#logoLouvre
{
    display: block;
    margin: 20px auto 20px auto;
    width: 50%;
}

#welcomeMessage {
    display: block;
    margin: 30px auto 30px auto;
    padding: 15px;
    text-align: center;
    background-color: black;
    color: white;

}

#presentationText
{
    display: block;
    width: 80%;
    margin: 5% auto 5% auto;
    padding: 15px;
    background-color: white;
}

#pricing
{
    width: 80%;
    margin: 5% auto 5% auto;
    padding: 15px;
    background-color: white;
}

#openDays
{
    width: 80%;
    margin: 5% auto 5% auto;
    padding: 15px;
    background-color: white;
}

#ticketing
{
    width: 80%;
    margin: 5% auto 5% auto;
    padding: 15px;
    background-color: white;
}

#messageSold
{
    display: none;
}

#halfDay
{
    display: none;
}

#submitBooking
{
    display: block;
    margin: auto;
}

#footer
{
    background-color: white;
    text-align: center;
}

#footer a
{
    color: black;
}

/*

contactInformation.html.twig

 */

.titleCenter
{
    text-align: center;
    margin: 20px auto 20px auto;
}

.ticketNumber
{
    font-size: 2em;
    font-weight: bold;
}

.listInformationForm
{
    width: 80%;
    margin: 5% auto 5% auto;
    padding: 15px;
    background-color: white;
}

.eachForm
{
    width: 90%;
    margin: 20px auto 50px auto;
}

#submitInformation
{
    display: block;
    margin: auto;
}

/**

summary.html.twig

 */

#tableTicket
{
    width: 80%;
    margin: 5% auto 5% auto;
    padding: 15px;
    background-color: white;
}

#cancelAndPaiement
{
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.infoBlock
{
    display: none;
}

/**

errorDay.html.twig

 */

.blockError
{
    margin-top: 50vh;
    transform: translateY(-50%);
}

@media all and (max-width: 1024px)
{

    .ticketPrice
    {
        background-color: #23272A;
        width: 30%;
        color: white;
        margin: 5px auto 0 auto;
        text-align: center;
        font-size: 1.5em;
    }

    #logoLouvre
    {
        width: 80%;
    }

    #welcomeMessage
    {
        padding: 5%;
    }

    #presentationText
    {
        width: 95%;
        margin: 7% auto 7% auto;
    }

    #pricing
    {
        width: 95%;
        margin: 7% auto 7% auto;
    }

    #openDays
    {
        width: 95%;
        margin: 7% auto 7% auto;
    }

    #ticketing
    {
        width: 95%;
        margin: 7% auto 7% auto;
    }

    #tableTicket
    {
        display: none;
    }
    .infoBlock
    {
        display: block;
        width: 95%;
        background-color: white;
        margin: 40px auto 40px auto;
    }

    .infoNumber
    {
        background-color: #23272A;
        color: white;
        font-weight: bold;
        font-size: 2em;
        padding-left: 10px;
    }

    .infoCustommer ul
    {
        list-style-type: none;
        margin: 5px 0 5px 0;
        padding-left: 10px;
    }

    .infoCustommer li
    {
        margin: 5px 0 5px 0;
    }

    #cancelAndPaiement
    {
        text-align: center;
        flex-direction: column;
    }

    #cancelButton
    {
        margin: 10px auto 10px auto;
    }

    #paiementButton
    {
        margin: 10px auto 10px auto;
    }

    .listInformationForm
    {
        width: 95%;
    }
}