{% extends 'base.html.twig' %}

{% block stylesheets %}

{{ parent() }}

    <script src="{{ asset('JS/contactInformation.js') }}"></script>

{% endblock %}

{% block body %}

    <h1 class="titleCenter">Vos coordonnées</h1>

{% for formType in form %}

    <div class="listInformationForm">
    {{ form_start(form) }}

    {# form_row(form.0.lastname) #}

        <input type="submit" class="btn btn-dark" id="submitInformation">

    {{ form_end(form) }}
    {# set counterForm = counterForm + 1 #}
    </div>

{% endfor %}

{% endblock %}