{% extends 'base.html.twig' %}

{% block body %}

    <h1 id="yourDetails">Vos coordonnées</h1>

{% for formType in form %}

    <div class="listInformationForm">
    {{ form_start(form) }}

    {# form_row(form.0.lastname) #}

        <input type="submit" class="btn btn-dark" id="submitInformation">

    {{ form_end(form) }}
    {# set counterForm = counterForm + 1 #}
    </div>

{% endfor %}


    <script>
        $( function () {
            $(".information_birthdate").datepicker({
                maxDate : '0' ,
                changeMonth : true ,
                changeYear : true ,
                yearRange : '1900:+0' ,
                dateFormat : "dd/mm/yy",
                dayNames: [ "Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi" ],
                dayNamesMin: [ "Di", "Lu", "Ma", "Me", "Je", "Ve", "Sa" ],
                dayNamesShort: [ "Dim", "Lun", "Mar", "Mer", "Jeu", "Ven", "Sam" ],
                monthNames: [ "Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Decembre" ],
                monthNamesShort: [ "Jan", "Fev", "Mars", "Avr", "Mai", "Juin", "Jul", "Août", "Sep", "Oct", "Nov", "Dec" ],
            });
        });


    </script>

{% endblock %}