{% extends 'base.html.twig' %}

{% block body %}

    <h1>Vos coordonnées</h1>

{% for formType in form %}

    {{ form_start(form) }}

        <input type="submit">

    {{ form_end(form) }}

{% endfor %}



    <div class="jumbotron">
        <p>Billet n° 1</p>
        <input type="text" placeholder="Nom">
        <input type="text" placeholder="Prénom">
        <input type="date" placeholder="Date de naissance">
        <input type="text" placeholder="Pays">
        <div id="reducedPrice">
            <input type="checkbox" name="reduced" id="reduced">
            <label for="reduced">Tarif réduit ?</label>
        </div>

    </div>

    <div class="jumbotron">
        <p>Billet n° 2</p>
        <input type="text" placeholder="Nom">
        <input type="text" placeholder="Prénom">
        <input type="date" placeholder="Date de naissance">
        <input type="text" placeholder="Pays">
        <div id="reducedPrice">
            <input type="checkbox" name="reduced" id="reduced">
            <label for="reduced">Tarif réduit ?</label>
        </div>

    </div>

    <div class="jumbotron">
        <p>Billet n° 3</p>
        <input type="text" placeholder="Nom">
        <input type="text" placeholder="Prénom">
        <input type="date" placeholder="Date de naissance">
        <input type="text" placeholder="Pays">
        <div id="reducedPrice">
            <input type="checkbox" name="reduced" id="reduced">
            <label for="reduced">Tarif réduit ?</label>
        </div>

    </div>

    <button type="button" class="btn btn-primary"><a href="#">Résumé de vos billets</a></button>

    <script>
        $( function () {
            $(".information_birthdate").datepicker({
                maxDate : '0' ,
                changeMonth : true ,
                changeYear : true ,
                yearRange : '1900:+0' ,
                dateFormat : "dd/mm/yy",
                dayNames: [ "Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi" ],
                dayNamesMin: [ "Di", "Lu", "Ma", "Me", "Je", "Ve", "Sa" ],
                dayNamesShort: [ "Dim", "Lun", "Mar", "Mer", "Jeu", "Ven", "Sam" ],
                monthNames: [ "Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Decembre" ],
                monthNamesShort: [ "Jan", "Fev", "Mars", "Avr", "Mai", "Juin", "Jul", "Août", "Sep", "Oct", "Nov", "Dec" ],
            });
        });
    </script>

{% endblock %}