{% extends 'base.html.twig' %}

{% block body %}

    <div id="welcomeMessage">
        <h1>Billeterie du musée du Louvre</h1>
        <p>Achetez dès maintenant vos billets pour éviter la file d'attente !</p>
    </div>

    <button type="button" class="btn btn-primary">Acheter vos billets</button>

    <div id="pricing">
        <h2 id="princingTitle">Les tarifs</h2>
        <div class="jumbotron" id="listPrice">
            <ul>
                <li>Tarif normal (à partir de 12 ans) : 16€</li>
                <li>Tarif enfant (à partir de 4 ans et jusqu'à 12 ans : 8€</li>
                <li>Tarif senior (à partir de 60 ans) : 12€</li>
                <li>Tarif réduit (Étudiant, employé du musée, d'un ministère de la Culture, militaire ...) : 10€</li>
            </ul>
        </div>
    </div>
    <div id="ticketing">
        <h2 id="ticketingTitle">Billetterie</h2>
        <div id="calendar">
            <!--<input type="text" placeholder="Date de la visite" id"datepicker" readonly="readonly">-->
        </div>
        <!--<div id="ticketType">
            <button type="button" class="btn btn-dark">1/2 journée</button>
            <button type="button" class="btn btn-dark">1 journée</button>
        </div>-->
        <div>
            <form action="{{ path('app_ticketing_contactinformation') }}" method="post">
                <label for="number">Nombre de billets ?</label>
                <select name="number">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select> <br />
                <input type="text" placeholder="Date de la visite" id="datepicker" readonly="readonly" name="dateVisit">
                <p>Veuillez choisir votre billet :</p>
                <div>
                    <input type="radio" id="halfDay"
                           name="ticketType" value="1/2">
                    <label for="halfDay">1/2 journée</label>

                    <input type="radio" id="wholeDay"
                           name="ticketType" value="1">
                    <label for="wholeDay">Journée</label>

                </div>
                <input type="submit" class="btn btn-primary">
            </form>


            <button type="button" class="btn btn-primary"><a href="{{ path('app_ticketing_contactinformation') }}" >Continuer la réservation</a></button>
        </div>
    </div>

    <script>


        var date = new Date();

        var UTChours = date.getUTCHours();
        var heure = UTChours + 1;
        
        if (heure > 23)
        {
            heure = heure - 24;
        }


        if (heure < 14)
        {
            todayticket = "\'0\'";
        }
        else
        {
            todayticket = "\'+1d\'";
        }


        var holidays = ["12/25/2018", "05/01/2019", "11/01/2019", "12/25/2019", "05/01/2020", "11/01/2020", "12/25/2020"];


        $( function() {
            $( "#datepicker" ).datepicker({
                minDate : todayticket,
                maxDate : '+1Y',
                dateFormat : "dd/mm/yy",
                dayNames: [ "Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi" ],
                dayNamesMin: [ "Di", "Lu", "Ma", "Me", "Je", "Ve", "Sa" ],
                dayNamesShort: [ "Dim", "Lun", "Mar", "Mer", "Jeu", "Ven", "Sam" ],
                firstDay : 1,
                monthNames: [ "Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Decembre" ],
                monthNamesShort: [ "Jan", "Fev", "Mars", "Avr", "Mai", "Juin", "Jul", "Août", "Sep", "Oct", "Nov", "Dec" ],
                beforeShowDay: function(date){
                    show = true;
                    if(date.getDay() == 0)
                    {
                        show = false;
                    }
                    for (var i = 0; i < holidays.length; i++) {
                        if (new Date(holidays[i]).toString() == date.toString())
                        {
                            show = false;
                        }
                    }
                    var display = [show,'',(show)?'':'Hors dimanche et jours fériés'];
                    return display;
                }

            });
        } );
    </script>


{% endblock %}