{% extends 'base.html.twig' %}

{% block meta %}

    <meta http-equiv="Refresh" content="6; url={{ absolute_url(path('homepage')) }}">

{% endblock %}

{% block body %}
    <div class="blockError">
        <div class="jumbotron">
            <h1>Merci pour votre achat !</h1>
            <p>Vous allez recevoir dans quelques instants un mail contenant votre billet.</p>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}