<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Musée du Louvre{% endblock %}</title>
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>