<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block meta %}{% endblock %}
        <title>{% block title %}Musée du Louvre{% endblock %}</title>
        <link rel="shotcut icon" href="{{ asset('Images/favicon.ico') }}">

        {% block stylesheets %}

            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
            <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
            <link rel="stylesheet" href="{{ asset('CSS/style.css') }}">

        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}

    {% block footer %}
        <div id="footer">
            2018 - Agence 321Web - <a href="{{ path('legalMention') }}">Mention légales</a> -
            <a href="{{ path('termsOfSales') }}">CGV</a>
        </div>
    {% endblock %}
    </body>

    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    {% endblock %}
</html>
