{% extends 'base.html.twig' %}

{% block body %}

    <div class="blockError">
        <div class="jumbotron">
            <h1>Erreur interne</h1>
            <p>Il y a un problème sur le serveur. La page demandée ne charge pas, merci de rééssayer dans quelques
                minutes. Si le problème persiste, <a href="mailto:test.vetudes@gmail.com">contactez l'administrateur
                du site.</a>
        </div>
    </div>

{% endblock %}

{% block footer %}
{% endblock %}